<% @recipes.each do |recipe| %>
  <section class="recipe">
    <div class="summary">
      <h2>
        <%= link_to recipe.name, recipe.raw_recipe %>
      </h2>
      <h3>
        <%= recipe.cuisine %>
      </h3>
    </div>
  </section>
<% end %>